.form{
    width: 50%;
    margin: 6rem auto;
}

.form .input-wrapper{
    margin-top: 3.5rem;
}

.form-button-wrapper{
    margin-top: 3rem;
    text-align: center;
}

.form-button{
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    outline: none;
    padding: 0.6rem;
    width: 100%;
}