.form{
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(0,0,0,0.2);
    min-height: 60rem;
    margin: 6rem auto;
    padding: 4rem;
    width: 50rem;
}

.form .input-wrapper,
.form .date-picker,
.form .select,
.form .radio-button,
.form .display-item
{   margin: 0 auto;
    margin-top: 3.5rem; 
}


.form-button-wrapper{
    margin-top: 3rem;
    text-align: center;
}

.form-button{
    background-image: linear-gradient(to right, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    height: 4rem;
    outline: none;
    padding: 0.6rem;
    transition: 0.3s;
    width: 20rem;
}
.form-button:disabled{
    background-image: linear-gradient(to right, rgb(226, 226, 226) 0%, rgb(209, 209, 209) 21%, rgb(219, 219, 219) 71%, rgb(254, 254, 254) 100%);
    box-shadow: none;
    cursor: arrow;
}