@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

html *{
    font-size: 1.6rem;
}

body{
    background-image: linear-gradient(to right, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
}